.fade-scale-enter-active,
.fade-scale-leave-active {
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.fade-scale-enter-from {
  opacity: 0;
  transform: scale(0.9);
}
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(1.1);
}

.slide-from-left-enter-active {
  transition: all 0.2s ease-out;
}
.slide-from-left-enter-from {
  opacity: 0;
  transform: translateX(-50px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.wave-enter-active,
.wave-leave-active {
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.wave-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.wave-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.wave-leave-active {
  transition-delay: calc((var(--total) - var(--index) - 1) * 0.1s);
}

.list-item {
  transition-duration: 0.2s;
  opacity: 0;
  transform: translateX(-30px);
  animation: waveIn 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;

  @keyframes waveIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}