@use '../helpers/index' as *;
@use '../variables' as *;

.card {

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;

    &.flipped {
      transform: rotateY(180deg);
    }
  }

  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; // скрываем обратную сторону при вращении
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(100);
    border-radius: $radius-medium;
    color: $color-dark-alt;
    background: $color-light-alt;
  }

  &__front {
    font-size: rem(100);
  }

  &__back {
    font-size: rem(52);
    transform: rotateY(180deg);
    background: $color-accent; // цвет обратной стороны
    color: white;
  }
}