@use '../helpers/index' as *;
@use '../variables' as *;

.end-page {
  @include fluid-text(52, 38);

  height: 100%;
  row-gap: rem(5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rem(200);

  .name {
    color: $color-accent;
  }

  &__fox {
    bottom: 0;
  }
}