@use '../helpers/index' as *;
@use '../variables' as *;

.lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  &.is-active {
    .lights__one, .lights__two {
      filter: blur(1px) brightness(1) hue-rotate(330deg);
    }
  }

  &__one, &__two {
    z-index: -2;
    filter: blur(10px) brightness(0);
  }

  &__one {
    scale: 1.1;
  }

  &__two {
    bottom: rem(50);
    rotate: 30deg;
    scale: 2;
  }

  &__btn {
    top: rem(10);
    left: rem(80);
    z-index: 10;
    pointer-events: all;
  }
}