@use '../helpers/index' as *;
@use '../variables' as *;

.loading {
  @include abs-x;

  bottom: rem(20);
  background: $color-light-alt;
  color: $color-accent;
  font-size: rem(20);
  width: 60%;
  border-radius: $radius-medium;
  padding-bottom: rem(10);
}