@use '../helpers/index' as *;
@use '../variables' as *;

.users {

  &__list {
    margin-bottom: rem(20);
  }

  &__item {
    border: $border-light-alt;
    border-radius: $radius-medium;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    &.is-active {
      background: $color-accent;
      border-color: $color-accent;
    }

    button {
      padding: rem(10);
      width: 100%;
      height: 100%;
      text-align: left;
    }
  }

  &__btn {
    width: 100%;
  }

  &__title {
    margin-bottom: rem(20);
  }

  &__btn-bar {
    column-gap: rem(10);
  }
}